body{
    font-family: 'CircularStd', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e5e5e51c;
}

.p{
    font-family: 'Proxima Nova', sans-serif;
}

.between{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

.grow{
    flex-grow: 1;
}

.container{
    width: 1200px;
    padding: 0 15px;
}

.list-sty{
    list-style-type: none;
}

.text-none{
    text-decoration: none;
}

#site-hero {
    background-image: url('../images/background-pic.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 900px 800px;
}

.header-block{
    padding-top: 57px;
}

.none{
    display: none;
}

.nav-item{
    margin-right: 72px;
}

.nav-link{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #aaaaab;
}

.activ{
    color: #56597a;
}

.nav-link:hover{
    color: #56597a;
    border-bottom: 3px solid #56597a;
    font-weight: bold;
}

.header-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.hero-portion{
    padding-top: 100px;
}

.hero-agency {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #f78cb6;
    margin-bottom: 29px;
    display: inline-block;
}

.hero-agency::before {
    content: '';
    width: 36px;
    height: 3px;
    background-color: #f78Cb6;
    display: inline-block;
    margin-right: 7px;
}

.hero-title{
    font-weight: bold;
    font-size: 60px;
    line-height: 74px;
    color: #56597a;
    margin-bottom: 31px;
}

.hero-text{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #919299;
    margin-bottom: 42px;
}

.hero-link{
    background-color: #f78bb6;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    padding: 18px 20px 18px 22px;
}

.hero-br{
        background-color: rgba(255, 193, 218, 0.28);
        border: 2px solid #fff;
        border-radius: 2px;
        width: 32px;
        height: 32px;
        display: inline-block;
        position: relative;
        left: 40px;
        top: 10px;
}

.hero-right {
    position: relative;
    right: 10px;
}

#hero-content{
    margin-bottom: 139px;
}

.our-srv{
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #f78cb6;
    margin-bottom: 6px;
}
.services-title{
    font-weight: bold;
    font-size: 52px;
    line-height: 72px;
    color: #56597a;
    margin-bottom: 58px;
}

.item-blc{
    border: 2px solid transparent;
    background-color: #fff1f9;
    width: 270px;
    height: 307px;
    border-radius: 8px;
    padding-top: 53px;
    padding-bottom: 23px;
}

.item-blc:hover{
    outline: 2px solid transparent;
    background-color: #f78cb6;
    border-radius: 8px;
    width: 270px;
    height: 307px;
    margin-bottom: 10px;
    cursor: pointer;
}

.act-tt::before{
    background-image: url('../images/portfolio.png');
}

.act-tt{
    color: #fff;
}
.act-ttp{
    color: #fff;
    margin-bottom: 10px;
}

.brand-link{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 10px;
}

.item-title{
    font-weight: 500px;
    font-size: 34px;
    line-height: 72px;
    color:#56597a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-title:hover{
    /* color: #fff; */
}

.item-title::before{
    content: '';
    width: 50px;
    height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.design::before{
    background-image: url('../images/3d-design.svg');
}

.dev::before{
    background-image: url('../images/3d-design2.svg');
}

.ils::before{
    background-image: url('../images/layers.png');
}

.item-text{
    font-size: 16px;
    line-height: 24px;
    color: #919299;
}

.item-text:hover{
    /* color: #fff; */
}

.services-block{
    margin-bottom: 230px;
}

.design-title{
    font-weight: bold;
    font-size: 52px;
    line-height: 62px;
    color: #56597a;
    margin-bottom: 24px;
}

.design-text{
    font-size: 20px;
    line-height: 32px;
    color: #919299;
    margin-bottom: 40px;
}

.in-blog{
    margin-left: 90px;
    position: relative;
    right: 280px;
}

.blog-img{
    margin-left: 33px;
}

.blog-title{
    font-weight: bold;
    font-size: 52px;
    line-height: 72px;
    color: #56597a;
    margin-bottom: 18px;
    position: relative;
    right: 13px;
}

.blog-text{
    width: 520px;
    height: 87px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #919299;
    margin-bottom: 15px;
}

/* FORM------> */

.form-group{
    display: flex;
    flex-flow: column;
    margin-left: 380px;
}

.form-email{
    border: 2px solid transparent;
    border: none;
    padding: 14px 20px 14px 30px;
    width: 706px;
    height: 82px;
    border-radius: 10px;
    box-shadow: 8px 20px 48px -7px rgba(209, 205, 205, 0.52);
    position: relative;
}

.form-btn{
    align-items: center;
    padding: 5px 17px 12px 17px;
    border: none;
    border-radius: 4px;
    font-weight: 450;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #fff;
    background: #f78cb6;
    position: absolute;
    top: 14px;
    right: 13px;
}

input{
    border: none;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #D2D2D2;
}

#blog{
    margin-bottom: 100px;
}

.link-logo{
    position: relative;
    right: 11px;
    margin-bottom: 38px;
}

/* FOOTER -----> */


#footer{
    background-image: url(../images/footer-bgi.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.footer-text{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #919299;
}

.after{
    font-weight: bold;
    margin-top: 38px;
    margin-bottom: 16px;
}

.social-list{
    margin-bottom: 52px;
}

.footer-item:not(:last-child){
    margin-right: 167px;
}

.footer-block{

    margin-right: 210px;
}

.fo-item-link{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #919299;
}

.in-item{
    margin-bottom: 25px;
}

.footer-title{
    line-height: 32px;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 24px;
    color: #56597a;
    margin-bottom: 37px;
}

.colors{
    background-color: #f78cb6;
    padding-top: 13px;
    padding-bottom: 13px;
}

.colors-link{
    font-weight: 450;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #fff;
}

.solid{
    margin-right: 6px;
}

.lang{
    border: none;
    border-radius: 5px;
    background-color: #f78cb6;
    color: #fff;
    margin-left: 13px;
    font-weight: 450;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.footer-list{
    margin-bottom: 62px;
}

#footer{
    margin-bottom: 10px;
}
